<footer class="site-footer pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-5 px-3">
                <h4 class="text-light">About Us</h4>
                <p class="fp pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium animi, odio
                    beatae aspernatur natus recusandae quasi magni eum voluptatem nam!</p>
            </div>
            <div class="col-md-4 my-5 px-3">
                <h4 class="text-light">Navigation</h4>
                <ul class="list-unstyled mt-4">
                    <li class="pb-3 fs-5 fw-light"><a href="" class="footer-link text-decoration-none">Podcasts</a></li>
                    <li class="pb-3 fs-5 fw-light"><a href="" class="footer-link text-decoration-none">Services</a></li>
                    <li class="pb-3 fs-5 fw-light"><a href="" class="footer-link text-decoration-none">About Us</a></li>
                    <li class="pb-3 fs-5 fw-light"><a href="" class="footer-link text-decoration-none">Blog</a></li>
                    <li class="pb-3 fs-5 fw-light"><a href="" class="footer-link text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 my-5 px-3">
                <h4 class="text-light">Subscribe</h4>
                <p class="fp pt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quibusdam!</p>
                <input type="text" class="form-control py-2" placeholder="Enter Email" />
                <button class="btn fw-light mt-4 text-uppercase text-light btn-custom">Subscribe</button>
            </div>
        </div>
        <div class="text-center">
            <p class="m-0 copyP">Copyright ©2025 All rights reserved | This template is made with <span
                    class="fs-5">&hearts;</span> by
                Colorlib</p>
        </div>
    </div>
</footer>