<div class="contact-section position-relative text-white text-center">
    <div class="overlay position-absolute w-100 h-100 top-0 start-0"></div>

    <div class="position-relative z-1 d-flex flex-column align-items-center justify-content-center h-100">
        <h2 class="mb-3 fw-medium">Subscribe</h2>
        <p class="mb-5 fw-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit nihil saepe libero sit odio obcaecati veniam.</p>

        <div class="d-flex justify-content-center subscr">
            <input type="email" placeholder="Enter Email" class="py-4 ps-4 form-control rounded-0 bg-transparent border-end-0" />
            <button class="btn btn-danger rounded-0 p-4">Send</button>
        </div>
    </div>
</div>