<div class="container pb-5 pt-2 border border-2 border-light-subtle mb-5 mt-3">
    <h2 class="text-center fs-1 fw-bold fst-italic text-primary mt-4 mb-5">Our Products</h2>
    <div class="row mt-1 mb-5">
        <div class="col-md-3 text-center">
            <button class="btn btn-primary py-2 w-50" [routerLink]="['/products', 0 , 'edit']">Add Product</button>
        </div>
        <div class="col-md-6"><app-size-category (filterChange)="handleFilterChange($event)" /></div>
        <div class="col-md-3"><app-search-bar (searchChange)="handleSearch($event)" /></div>
    </div>
    <div class="row">
        @for (product of filteredProducts; track product.id) {
        <div class="col-md-4 mb-4">
            <app-product-card [product]="product" (delete)="handleDelete($event)" />
        </div>
        }
    </div>
</div>