<div class="pt-1 pagin">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">

            <li class="page-item">
                <a class="page-link circle" href="#" aria-label="Previous">
                    <i class="bi bi-caret-left"></i>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link circle active" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link circle" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link circle" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link circle" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link circle" href="#">5</a>
            </li>

            <li class="page-item">
                <a class="page-link circle" href="#" aria-label="Next">
                    <i class="bi bi-caret-right"></i>
                </a>
            </li>

        </ul>
    </nav>
</div>