<div class="card h-100 shadow-sm">
    <img src="{{ product.image }}" class="card-img-top" alt="product.name + ' image'">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title fs-4 mb-2">{{ product.name }}</h5>
        <p class="card-text text-truncate" [title]="product.description">
            {{ product.description }}
        </p>
        <p class="fw-bold text-primary">Price: ${{ product.price | number:'1.2-2' }}</p>
        <p class="mb-1"><strong>Category:</strong> {{ product.category | titlecase }}</p>
        <p>Quantity: {{ product.quantity }}, Size: <strong class="text-danger">{{ product.size }}</strong> </p>

        <div class="mt-auto d-flex justify-content-between gap-2 pt-3">
            <button class="btn btn-outline-primary" [routerLink]="['/products', `${product.id}`]">
                <i class="bi bi-eye-fill"></i>
            </button>
            <button class="btn btn-outline-secondary" [routerLink]="['/products', `${product.id}`, 'edit']">
                <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-outline-danger" (click)="deleteProduct(`${product.id}`)">
                <i class="bi bi-trash-fill"></i>
            </button>
        </div>
    </div>
</div>
