<div class="card text-center py-2 px-4 border-0">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa4xjShh4ynJbrgYrW_aB4lhKSxeMzQ3cO_A&s"
        class="card-img-top rounded-circle mx-auto mt-4 mb-3" alt="Guest">
    <div class="card-body">
        <h5 class="card-title fw-lighter">Guest Name</h5>
        <p class="card-text fw-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Porro debitis officiis. Porro debitis officiis. Porro debitis officiis.</p>
    </div>
</div>